<div class="breakfast-container">
  <div class="back-button-wrapper">
    <a (click)="navigateToNutritionHome()" class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      Back to Nutrition Home
    </a>
  </div>
  <h1>Breakfast Recipes</h1>
  <div class="recipes-grid">
    <div *ngFor="let recipe of breakfastRecipes" class="recipe-card">
      <div class="recipe-content">
        <h3>{{ recipe.Title }}</h3>
        <img [src]="getImagePath(recipe.Image_Name)" alt="{{ recipe.Title }}" class="recipe-image" />
        <button (click)="viewRecipe(recipe.Title)" class="view-recipe-btn">View Recipe</button>
      </div>
    </div>
  </div>
</div>